{{> heading }}

<p>Hi {{ user.name }}!</p>

<p>Your booking for <a href="{{ service.url }}">{{ service.name }}</a> has been confirmed!</p>

<div class="spacer" />

<a href="{{ booking.url }}" class="cta">Click to view your booking</a>

<div class="spacer" />

<p>Verify your booking to the operator by showing them the below QR code: </p>

<img src="{{ booking.qrCodeUrl }}" width="250" height="250" />