{{> heading }}

<p>Hi {{ user.name }}!</p>

<p>Your booking for <a href="{{ service.url }}">{{ service.name }}</a> has been confirmed!</p>

<div class="spacer" />

<table class="data-table">
  <tbody>
    {{#each booking.details}}
      <tr>
        <td>
          <strong>{{ this.key }}</strong>
        </td>
        <td>{{ this.value }}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

<div class="spacer" />

<a href="{{ booking.url }}" class="cta">Click to view your booking</a>

<div class="spacer" />

<p>Verify your booking to the operator by showing them the below QR code: </p>

<img src="{{ booking.qrCodeUrl }}" width="250" height="250" />

<div class="spacer" />
<hr />
<div class="spacer" />

<table class="data-table">
  <tbody>
    {{#each operator.details}}
      <tr>
        <td>
          <strong>{{ this.key }}</strong>
        </td>
        <td>{{ this.value }}</td>
      </tr>
    {{/each}}
  </tbody>
</table>