{{> heading }}

<h3>Hello {{ user.name }}!</h3>
<p>
  Your booking has been successfully made with <a href="{{ operator.url }}">{{ operator.name }}</a> for <a href="{{ service.url }}">{{ service.name }}</a>
</p>

<div class="spacer" />

<a class="cta" href="{{ booking.url }}">View booking</a>
