{{> heading }}

<h3>Hello {{ user.name }}!</h3>
<p>
  Your booking has been successfully made with <a href="{{ operator.url }}">{{ operator.name }}</a> for <a href="{{ service.url }}">{{ service.name }}</a>
</p>

<div class="spacer" />

<a class="cta" href="{{ booking.url }}">View booking</a>

<div class="spacer" />

<p>Verify your booking to the operator by showing them the below QR code: </p>

<img src="{{ booking.qrCodeUrl }}" width="250" height="250" />
