{{> heading }}

<h3>Hello {{ operator.name }},</h3>

<p>You have been made an operator on <a href="{{ site.url }}">{{ site.name }}</a>.</p>

<p>To quickly verify your customers, <a href="{{ app.url }}">download our app</a> and scan the below QR code.</p>

<p>Once you have it set up, you can use it scan customers' booking QR codes to immediately verify their booking.</p>

<p>(Customers will receive a QR code in their booking confirmation email).</p>

<div class="spacer" />

<a href="{{ app.url }}" class="cta">Download the app</a>

<div class="spacer" />

<img src="{{ app.qrCodeUrl }}" width="250" height="250" />
