{{> heading }}

<h3>Hello {{ operator.name }},</h3>

<p>You have been made an operator on <a href="{{ site.url }}">{{ site.name }}</a>.</p>

<p>If you didn't make your account yourself, please reset your password below.</p>

<div class="spacer" />

<a href="{{ site.resetPasswordUrl }}" class="cta">Reset password</a>

<div class="spacer" />

<p><strong>Note:</strong> You don't need to do this if you created your account yourself.</p>

<!-- <div class="spacer" />
<div class="spacer" />

<p>To quickly verify your customers, <a href="{{ app.url }}">download our app</a>.</p>

<p>Once you have it set up, you can use it scan customers' booking QR codes to immediately verify their booking.</p>

<p>(Customers will receive a QR code in their booking confirmation email).</p>

<div class="spacer" />

<a href="{{ app.url }}" class="cta">Download the app</a> -->
